{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Sobre o Liceu Soba Nguali - Chinguar | LSNG - Chinguar</title>
{% endblock title %}

{% block active5 %}
 active
{% endblock active5 %}
{% block color5 %}
text-white
{% endblock color5 %}

{% block active55 %}
 active
{% endblock active55 %}
{% block color55 %}
text-white
{% endblock color55 %}

{% block main %}
         <!--Feature to boost Start-->
         <section class="container col-md-6 mx-auto py-lg-2 py-5 col-12" data-cue="fadeIn" data-show="true" style="animation-name: fadeIn; animation-duration: 600ms; animation-timing-function: ease; animation-delay: 0ms; animation-direction: normal; animation-fill-mode: both;">
          <div class="shadow p-3 mb-5 bg-body-white rounded">
            <div class="row g-6">
                    <h1 align="center"> Liceu Soba Nguali - Chinguar <i class="bi bi-buildings-fill"></i></h1> 
                     <img src="{% static 'img/liceu2.jpg' %}"  alt="figura"  width="100%" height="350"></img>
                     <small style="margin-top: 1px; text-align: center;"><i>Criada pelo Decreto Executivo n.º 280/21 de 11 de Agosto</i></small><hr>
                     <div class="container" align="justify">
                     <p>
                     <p>
                    <h1>Dados Sobre a Escola</h1>
                    <p><b>Província:</b> Bié </p>
                    <p><b>Município:</b> Chinguar </p>
                    <p><b>Nível de Ensino:</b> II Ciclo do Ensino Secundário Geral</p>
                    <p><b>Classe que lecciona:</b> 10.ª à 12.ª Classes</p>
                    <p><b>N.º de Áreas do Saber:</b> 3 - Ciências Exatas e da Natureza, Ciências Sociais e Aplicadas e Ciências Humanas </p>
                    <p><b>Cursos Ministrados:</b> Ciências Físicas/Biológicas, Ciências Económicas/Jurídicas e Ciências Humanas </p>
                    <p><b>Zona Geográfica/Quadro Domiciliar:</b> Urbana</p>
                    <p><b>N.º de Salas de Aulas:</b> 12</p>
                    <p><b>N.º de Turmas:</b> 24</p>
                    <p><b>N.º de Turnos:</b> 2</p>
                    <p><b>N.º de Alunos por sala:</b> 36</p>
                    <p>
                      <h1>Outros Dados</h1>
                      O <b>Liceu Soba Nguali - Chinguar</b> foi inaugurado aos 29 de Janeiro de 2020, pela então Ministra da Educação Dra. Ana Paula Tuavanje Elias, em conformidade com a Lei de 
                      Base do Sistema de educação de Angola e, tendo sido aprovado pelo <i>Decreto Executivo n.º 280/21 de 11 de Agosto</i>. <br>
                      A instituição em referência está situada na zona Oeste da Sede do Município do Chinguar, tendo começado seu ciclo de formação 
                      no ano 2010, na Escola de Formação de Professores, actualmente designada de Magistério Salomão Kawaia - Chinguar. <br>
                      <h5>Localização Geográfica</h5>
                            <ol type="1">
                                <li><b>A Norte:</b> Estrada Nacional 250 (EN250);</li>
                                <li><b>A Sul</b> Projecto de 8 focos habitacionais e Mercado Municipal;</li>
                                <li><b>A Este</b> Instalações do POUPA LÁ;</li>
                                <li><b>A Oeste</b> Projecto habitacionais das 100 casas (Bairro Boavida).</li>
                            </ol>
                    </p>
                    </p>
                    <p class="card-text"><small class="text-body-secondary"><b>Fonte:</b> <i style="font-size: x-small;">Decreto Executivo n.º 280/21 de 11 de Agosto & Regulamento Interno</i></small></p>
                    </div>
                  </div>

            </div>
         </section>
         
{% endblock main %}