{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
<title>Email de recuperação | LSNG - Chinguar</title>
{% endblock title %}

{% block main %}
  <div class="row g-6 py-lg-10">    
  <div class="container col-md-4 mx-auto">
    <div class="shadow p-5 mb-2 bg-body-white rounded">
  <h1> Inserir email de recuperação </h1> 
    <hr class="divider">
    <div class="d-flex align-items-center">
      <div class="ms-3 lh-1">
         <div style="background-color: red; font-size: large;" class="card">
            <div class="card-body text-body">
               <div class="d-flex align-items-center text-white">
                  <i class="bi bi-info-circle-fill fs-4 px-2"></i> Funcionalidade Indisponivel no momento, contacte o suporte!
               </div>
            </div>
         </div>
      </div>
   </div>

    <!-- 
    <form method="POST">
    {% csrf_token %}
        {{ form|crispy }}
        <hr>
    <button style="width: 100%;" type="submit" class="btn btn1">Enviar</button>  
    </form>
    -->
  </div>
</div>
</div>
{% endblock main %}
