{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
<title>Repor Palavra-Passe | LSNG - Chinguar</title>
{% endblock title %}
{% block main %}
<div class="row g-6 py-lg-10">    
  <div class="container col-md-4 mx-auto">
    <div class="shadow p-5 mb-2 bg-body-white rounded">
  <h1> Repor a Palavra Passe </h1> 
    <hr class="divider">
    <form method="POST">
    {% csrf_token %}
        {{ form|crispy }}
        <hr>
      <button style="width: 100%;" type="submit" class="btn btn1">Repor</button>  
    </form>
  </div>
</div>
</div>
{% endblock main %}
