{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Email Enviado | LSNG - Chinguar</title>
{% endblock title %}

{% block main %}
<div class="row g-6 py-lg-10">    
  <div class="container col-md-4 mx-auto">
    <div class="shadow p-5 mb-2 bg-body-white rounded text-center">
    <i style="font-size: 100px; color:rgba(19, 26, 81, 0.945)" class="bi bi-envelope-check-fill" ></i>
    <h1>Email Enviado</h1>
    <p align="justify">Enviámos um email com instruções para repor sua palavra-passe, se existir uma conta relacionada com o email fornecido, Você receberá a mensagem em breve.</p>
      <p align="justify">Se não recebeu um email, por favor certifique-se que forneceu o email que está registado, e verifique sua pasta de spam. </p>
  </div>
</div>
</div>
{% endblock main %}
