{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Reposição completa | LSNG - Chinguar</title>
{% endblock title %}
{% block main %}
<div class="row g-6 py-lg-10">    
  <div class="container col-md-4 mx-auto">
    <div class="shadow p-5 mb-2 bg-body-white rounded text-center">
      <i style="font-size: 100px; color:rgba(19, 26, 81, 0.945)" class="bi bi-check-circle-fill" ></i>
    <h4>Palavra-passe reposta com Sucesso</h4>
    <h6>Clique <a href="#" style="color:darkorange" data-bs-toggle="modal" data-bs-target="#loginModal"> Aqui</a> para aceder o portal</h6>
  </div>
</div>
</div>

{% endblock main %}
